@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

body{
    font-family: 'Jost', sans-serif;
    background-color: #000000;
}

body main{
    background-color: #172331;
}

main h1{
    font-size: calc(4rem + 2vw);
    color:#FFFFFF;
}

#simon{
    box-shadow:0 0 30px #fff;
    width: calc(275px + 15vw);
    height: calc(275px + 15vw);
}

#ring-green,#ring-red,#ring-yellow,#ring-blue{
    font-size: 0;
    cursor:pointer;
    box-shadow: inset 0 0 20px #00000077;
    position: absolute;
    width: 50%;
    height: 50%;
    transition: 0.4s;
    filter:opacity(50%);
}

#ring-green:hover,#ring-red:hover,#ring-yellow:hover,#ring-blue:hover{
    box-shadow: inset 0 0 30px rgb(255, 255, 255);
}

.activated{
    filter:opacity(100%);
}