@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

body{
    font-family: 'Jost', sans-serif;
    background-color: #000000;
}

body main{
    background-color: #172331;
}

main button, main h1{
    color:#FFFFFF;
}

main h1{
    font-size: calc(4rem + 2vw);
}

#simon{
    box-shadow:0 0 30px #fff;
    width: calc(275px + 15vw);
    height: calc(275px + 15vw);
}

.button{
    font-size: 0;
    box-shadow: inset 0 0 20px #00000077;
    position: absolute;
    width: 50%;
    height: 50%;
    transition: 0.4s;
    filter: opacity(.7);
}

.button:hover{
    filter: opacity(1);
    box-shadow: inset 0 0 30px rgb(255, 255, 255);
}

.activated{
    box-shadow: inset 0 0 30px rgb(255, 255, 255);
    filter:opacity(1);
}

